*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color:white;
  background-color: black;
}

/* Headings - More Dynamic */
h1, h2, h3 {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}


/* Accent Text */
code {
  font-family: 'Roboto Mono', monospace;
  background-color: #f0f0f0;
  padding: 0.2rem;
  border-radius: 4px;
}
